@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-workSans bg-light-pink min-h-screen;
  background-image: url('/background-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

#root {
  @apply flex justify-center items-center min-h-screen;
}

.container {
  @apply w-full max-w-lg;
}

.accordion-item {
  @apply w-full py-4;
}

.accordion-header {
  @apply flex justify-between items-center cursor-pointer;
}

.accordion-content {
  @apply mt-4 text-sm text-gray-700 overflow-hidden transition-all duration-300 ease-in-out;
  max-height: 0;
  padding: 0; /* Initial padding set to 0 */
}

.accordion-content.open {
  max-height: 300px; /* Adjust based on your content */
  padding: 16px; /* Add padding when content is visible */
}
